nav
	a(href="#") 
	a(href="#")  


	a(href="thought-and-character") Thought &amp; Character
	a(href="effect-of-thought-on-circumstances") Effect of Thought on Circumstances
	a(href="effect-of-thought-on-health-and-the-body") Effect of Thought on Health and the Body
	a(href="thought-and-purpose") Thought &amp; Purpose
	a(href="the-thought-factor-in-achievement") Thought Factor in Achievement
	a(href="visions-and-ideals") Vision &amp; Ideals
	a(href="serenity") Serenity