.plugin
	//- header
	.plugin-header
		.plugin-icon
			include ../includes/plugin-icon.pug
		p Use Contrast
		.plugin-close
			include ../includes/plugin-close.pug
	//- display
	.plugin-display
		p Aa
	.plugin-controls
		.plugin-colors
			.foreground.color
				.swatch
				p 111111
			.switcher
				include ../includes/plugin-switcher.pug
			.background.color
				.swatch
				p FFFF00
		.plugin-ratio
			.score
				p AAA #[span 17.6]
			.arrow
				include ../includes/plugin-arrow.pug
			.arrow
				include ../includes/plugin-arrow.pug
		.plugin-helper-text
			p Valid for all font sizes and weights