<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2_857)">
<path d="M6 10C6.52529 10 7.04543 9.89654 7.53073 9.69552C8.01604 9.4945 8.45699 9.19986 8.82843 8.82843C9.19986 8.45699 9.4945 8.01604 9.69552 7.53073C9.89654 7.04543 10 6.52529 10 6C10 5.47471 9.89654 4.95457 9.69552 4.46927C9.4945 3.98396 9.19986 3.54301 8.82843 3.17157C8.45699 2.80014 8.01604 2.5055 7.53073 2.30448C7.04543 2.10346 6.52529 2 6 2" stroke="currentColor" stroke-opacity="0.24" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M6 10C4.93913 10 3.92172 9.57857 3.17157 8.82843C2.42143 8.07828 2 7.06087 2 6C2 4.93913 2.42143 3.92172 3.17157 3.17157C3.92172 2.42143 4.93913 2 6 2" stroke="currentColor" stroke-opacity="0.5" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_2_857">
<rect width="12" height="12" fill="white"/>
</clipPath>
</defs>
</svg>