
.plugin
	.plugin-light
		.plugin-header
			.plugin-icon
				include ../includes/plugin-icon.pug
			p Use Contrast
			.plugin-close
				include ../includes/plugin-close.pug
		.plugin-display
			p Aa
		.plugin-controls
			.plugin-colors
				.foreground.color
					.swatch
					p 111111
				.switcher
					include ../includes/plugin-switcher.pug
				.background.color
					.swatch
					p FFFF00
			.plugin-ratio
				.score
					p AAA #[span 17.6]
				.arrow
					include ../includes/plugin-arrow.pug
				.arrow
					include ../includes/plugin-arrow.pug
			.plugin-helper-text
				p Valid for all font sizes and weights

	.plugin-dark
		.plugin-header
			.plugin-icon
				include ../includes/plugin-icon.pug
			p Use Contrast
			.plugin-close
				include ../includes/plugin-close.pug
		.plugin-display
			p Aa
		.plugin-controls
			.plugin-colors
				.foreground.color
					.swatch
					p FFFFFF
				.switcher
					include ../includes/plugin-switcher.pug
				.background.color
					.swatch
					p 111111
			.plugin-ratio
				.score
					p AAA #[span 18.9]
				.arrow
					include ../includes/plugin-arrow.pug
				.arrow
					include ../includes/plugin-arrow.pug
			.plugin-helper-text
				p Valid for all font sizes and weights