<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.1765 14L20 11M20 11L17.1765 8M20 11L12 11" stroke="currentColor"/>
<path d="M10.8235 20L8 17M8 17L10.8235 14M8 17L16 17" stroke="currentColor"/>
</svg>
