<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M6.50633 6.67462L1.56688 11.7768L0.885742 11.0447L5.81059 5.95756L1.00023 0.999756L1.68219 0.268361L6.50561 5.23963L11.319 0.267578L12.0002 0.999731L7.20136 5.9567L12.1275 11.0338L11.4455 11.7652L6.50633 6.67462Z" fill="currentColor"/>
</svg>
