@media screen and (prefers-color-scheme: dark)


  .contrast-shape-circle-small
    background: $c-pink  

  .contrast-shape-circle-big
    background: $c-purple  

  .plugin
    background: #2c2c2c  

    .plugin-colors
      direction: rtl 

    p
      color: $c-white  
    .plugin-header
      box-shadow: 0 -1px 0 0 #444444  
    .plugin-display
      background: $c-dark 
      box-shadow: 0 -1px 0 0 #444444  
      p
        color: $c-yellow  
    .color, .score
      box-shadow: inset 0 0 0 1px #444444  

=elements-light
  // stuff here for light mode

=elements-dark
  // stuff here for dark mode


// light & dark mode
=mode-light
  --color: var(--c-black)
  --bg: var(--c-white)
  +elements-const
  +elements-light

=mode-dark
  --color: var(--c-white)
  --bg: var(--c-black)
  +elements-const
  +elements-dark


// define RGB colors
body
  --c-white: 255,255,255
  --c-black: 0,0,0

body 
  +mode-light
body.dark-mode 
  +mode-dark

@media (prefers-color-scheme: dark) 
  body /* defaults to dark mode */
    +mode-dark
  body.light-mode 
    +mode-light

body 
  +mode-light
body.dark-mode 
  +mode-dark










