.interior
  padding-bottom: 200px

  section
    padding: 20px 0

  p a
    color: var(--c-primary)
    text-decoration: none
    box-shadow: inset 0 -1px 0 0 var(--c-primary)

  p, ul, ol
    padding-bottom: 40px

  .interior-grid
    display: grid
    grid-gap: 0
    
    .interior-grid-item
      display: grid
      grid-template-columns: 1fr 3fr
      grid-gap: 40px
      padding-bottom: 0px

  .pushed
    margin-left: 0
    +bp-small
      margin-left: 180px

  .demo-score
    margin-bottom: 80px
    display: grid
    justify-items: center
    align-items: center

    p
      padding: 0 !important
      font-size: 32px


  .contrast-shape-circle-small
    top: 320px !important
    right: -120px !important
    left: unset !important