
.contrast-shape
	position: fixed
	border-radius: 50%
	display: block

.contrast-shape-circle-small
	background: var(--c-one)
	width: 320px
	height: 320px
	top: 40px
	left: 50%
	transform: translate(-140%, 0)
	z-index: -1
	animation: float-small 30s infinite ease-in-out

.contrast-shape-circle-big
	background: var(--c-two)
	width: 1000px
	height: 1000px
	top: 120px
	left: 50%
	transform: translate(0, 0)
	z-index: -2
	animation: float 20s infinite ease-in-out

.contrast-shape-interior
	position: absolute
	background: var(--c-one)
	width: 320px
	height: 320px
	top: 120px
	left: 50%
	transform: translate(50%, 0)
	z-index: -1
	animation: float-interior 30s infinite ease-in-out

@keyframes float-interior
	0%, 80%
		transform: translate(50%, 0)
	20%, 60%
		transform: translate(40%, 40px)
	40%
		transform: translate(50%, 80px)

@keyframes float-small
	0%, 80%
		transform: translate(-140%, 0)
	20%, 60%
		transform: translate(-150%, 40px)
	40%
		transform: translate(-140%, -40px)

@keyframes float
	0%, 40%
		transform: translate(0, 0)
	20%, 60%
		transform: translate(-10%, 40px)
	80%
		transform: translate(0, 0)
