//- 01 index.pug
extends includes/layout.pug

block head
	title Use Contrast — Figma plugin

//- block meta pulls in here
block content
	body
		.content
			main
				a.line-item.line-item--header(href="https://www.figma.com/community/plugin/1149686177449921115/Use-Contrast") #[h1 Figma plugin for quick access to WCAG color contrast ratios] #[.value Install #[.arrow &rarr;]]

			include includes/plugin.pug

			section.nav
				a.line-item.line-item--title(href="/guide") #[h2 Contrast guide] #[.value #[.arrow &rarr;]]
				a.line-item.line-item--title(href="https://github.com/soffes/contrast") #[h2 Mac app] #[.value #[.arrow &rarr;]]
			section.credits
				a.line-item.line-item--title(href="https://twitter.com/mds") #[h2 Design] #[.value @mds #[.arrow &rarr;]]
				a.line-item.line-item--title(href="https://twitter.com/gusso") #[h2 Figma dev#[span elopment]] #[.value @gusso #[.arrow &rarr;]]
				a.line-item.line-item--title(href="https://twitter.com/soffes") #[h2 macOS dev#[span elopment]] #[.value @soffes #[.arrow &rarr;]]
			section.credits
				a.line-item.line-item--title(href="https://twitter.com/usecontrast") #[h2 Twitter] #[.value @usecontrast #[.arrow &rarr;]]

			.contrast-shape.contrast-shape-circle-small
			.contrast-shape.contrast-shape-circle-big